@import url(http://fonts.googleapis.com/css?family=Hammersmith+One);
@import url(http://fonts.googleapis.com/css?family=Miss+Fajardose);

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font: 14px sans-serif;
    line-height: 18px;
    color: #30404f;
    background:
        radial-gradient(circle, transparent 20%, #e0e1e0 20%, #e0e1e0 80%, transparent 80%, transparent),
        radial-gradient(circle, transparent 20%, #f4f4f4 20%, #f4f4f4 80%, transparent 80%, transparent) 50px 50px,
        linear-gradient(#f4f4f4 8px, transparent 8px) 0 -4px,
        linear-gradient(90deg, #f4f4f4 8px, transparent 8px) -4px 0;
    background-color: #f4f4f4;
    background-size: 10px 10px, 10px 10px, 10px 10px, 10px 10px;
}

a {
    color: #000;
}

p {
    margin: 20px 0;
}

blockquote p {
    color: #7f7f7f;
    margin: 4px 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #112233;
    line-height: 1em;
    font-weight: normal;
    font-family: 'Hammersmith One', sans-serif;
    margin: 30px 0 15px 0;
}

.header h1 {
    font-size: 3em;
}

.container {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.6);
    min-width: 700px;
    width: 80%;
    padding: 20px;
    margin: auto;
    background: white;
    background: linear-gradient(to right, #f9f9f9 0%,#f9f9f9 50%,#f8f8f8 50%,#f8f8f8 100%);
    background-size: 5px 5px;
}

p code {
    border: 1px solid #eee;
    padding: 0 2px;
    color: #272822;
    background: white;
}

.highlight  {
    background: #272822;
    color: #f8f8f2;
    padding: 5px 0;
}
.highlight .comment { color: #808080 }
.highlight .keyword { color: #66d9ef }
.highlight .params  { color: #fa951f }
.highlight .string  { color: #e6db74 }
.highlight .title   { color: #a6e22e }
.highlight .regexp  { color: #e6db74 }
.highlight .number  { color: #ae81ff }
.highlight .literal  { color: #ae81ff }

.fleur {
    font-size: 0;
    border-radius: 999px;
    margin: 40px 0 40px 0;
    border: 1px solid #eee;
    height: 0;
    display: block;
}
.fleur::after {
    content: 'f';
    color: #c96382;
    display: block;
    margin: -34px auto 0;
    font-size: 80px;
    width: 120px;
    text-align: center;
    font-family: 'Miss Fajardose', cursive;
    background: white;
    background: linear-gradient(to right, #f9f9f9 0%,#f9f9f9 50%,#f8f8f8 50%,#f8f8f8 100%);
    background-size: 5px 5px;
}


/* Mocha Styles */
.suite pre {
    background: #272822;
    color: #f8f8f2;
    padding: 10px;
}

.suite dd, .suite dt {
    margin: 0 20px;
}

.suite dt {
    font-size: 16px;
    cursor: pointer;
}

.suite dt:hover {
    color: #000;
}

.suite dt::after {
    content: ':';
    font-weight: bold;
}

.suite dt:not(.expanded) + dd {
    display: none;
}
.suite dt.expanded + dd {
    display: block;
}